@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1158px;
  }

  /*-------- header --------*/

  .header-link {
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-contacts {
    display: flex;
    padding: 0;
  }

  .header-mail {
    margin-right: 40px;
  }

  .header-mail,
  .header-tel {
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    line-height: 1.5;
  }

  /*-------- heading --------*/

  .heading {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../image/background-image/people-office.jpg);
  }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .heading {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../image/background-image/people-office-2x.jpg);
    }
  }


  .heading.section {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .heading-title {
    margin-bottom: 48px;
  }

  /*-------- advice --------*/

  .advice.section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advice-list-icon {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
  }

  .advice-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
  }

  .advice-subtitle {
    font-weight: var(--font-weight-subtitle);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .advice-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  .advice-item {
    width: calc((100% - 72px) / 4);
  }

  /*-------- product --------*/

  .product.section {
    padding-top: 0;
    padding-bottom: 120px;
  }

  .product {
    display: flex;
  }

  .product-title {
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .product-list {
    display: flex;
    gap: 24px;
  }

  .product-item {
    width: calc((100% - 48px) / 3);
  }

  /*-------- team --------*/

  .team.section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team > .conteiner {
    width: 1158px;
  }

  .team-list {
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  /*-------- customers --------*/

  .customers.section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers > .conteiner {
    width: 1158px;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }

  /*-------- footer --------*/

  .footer.section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer > .conteiner {
    width: 1158px;
  }

  .logo-thumb {
    margin: 0;
  }

  .social-thumb {
    margin-left: 120px;
  }

  .subscribe-thumb {
    margin-left: auto;
  }

  .footer-form {
    display: flex;
  }
}
